@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* input 이 포커스 될 때 label 을 bold 로 설정 */
  .label-focus-within:focus-within {
    font-weight: bold; /* 폰트를 굵게 설정 */
    color: #000;
  }
}
